# Bootstrap
app/bootstrap*

bin/lessc

# Symfony directories
vendor/*
*/logs/*
*/cache/*
app/dev/cache
app/dev/logs
app/dev/*
app/prod/*


web/uploads/*
web/bundles/*
#Imagenes copiadas por assetic:dump
web/css/*
web/images/*
web/js/*

# Configuration files
app/config/parameters.ini
# app/config/parameters.yml

# Composer
composer.phar
nbproject/private/
nbproject/
#composer.lock

# Deployment bin
Gestor-deployment/*.deb

# Uploads
web/upload/images
web/upload/*
#Binaries
bin/*
# OpenShift
app/config/params.php
