# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
/nbproject/private/
/Gestor-Server/nbproject/private/
*composer.lock

# Deployment
/Gestor-deployment/*.deb

# Uploads
Gestor-Server/web/upload/images